* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: hsl(0, 0%, 94%);
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: white;
  width: 35em;
  height: 25em;
  border-radius: 1em;
  border-bottom-right-radius: 7em;
  padding: 2em;
}

@media  (max-width: 767px) {
  .container{
    width: 90%
  }
}


