@font-face {
  font-family: bold;
  src: url(/public/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
  font-family: boldItalic;
  src: url(/public/assets/fonts/Poppins-BoldItalic.ttf)
}

@font-face {
  font-family: extraBold;
  src: url(/public/assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
  font-family: extraBoldItalic;
  src: url(/public/assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
  font-family: italic;
  src: url(/public/assets/fonts/Poppins-Italic.ttf);
}

@font-face {
  font-family: regular;
  src: url(/public/assets/fonts/Poppins-Regular.ttf);
}
